* {
	box-sizing: border-box;
}

:root {
	--color-biscuit: #ebddca;
	--color-pink: #f9dbd9;
	--color-purple: #e4daeb;
	--color-grey: #e6e6e6;
	--selected-bg-color: var(--color-biscuit);
}

html {
	font-size: 10px;
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	width: 80%;
	margin: 50px auto 0;
}

.doodle-container {
	position: relative;
	width: 100%;
	min-height: 50vh;
	border-right: 1px solid #ddd;
	background-color: var(--selected-bg-color);
}

.inner-text {
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
	padding: 5rem 0;
}

.sub-head {
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	margin-block: 6rem 1rem;
}

.sub-copy {
	font-size: 2rem;
	text-align: center;
	margin-block: 1rem;
}

.sub-head:first-of-type {
	margin-block: 1rem;
}

.added-doodle {
	position: absolute;
	left: 0;
	top: 0;
}

.config-panel {
	padding: 1rem;
	width: 25%;
}

.config-panel label {
	font-size: 1.4rem;
}

.config-section {
	border-bottom: 1px solid #eee;
	padding-block: 1rem;
}

.doodle-list {
	font-size: 1.2rem;
}

.code-block pre {
	white-space: pre-wrap;
}
