.icon-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin-top: 120px;
}
.style-block {
	background-color: #e5e5e5;
}
.style-block > div {
	text-align: center;
	margin-bottom: 2rem;
}
.style-block h3 {
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0 0.5rem !important;
}
.style-block p {
	text-align: center;
	font-size: 1.4rem;
	font-family: Lato, sans-serif;
}
.size-info {
	margin-bottom: 2rem;
	font-size: 1rem;
}

.icon-control-panel {
	display: inline-block;
	background-color: #b4eaf0;
	border: 1px solid #ccc;
	padding: 1rem 2rem;
	font-family: Lato;
	position: absolute;
	top: 0;
	left: 0;
}

.icon-control-panel h5 {
	text-align: center;
}

.icon-control-panel .desc {
	font-size: 1rem;
}

.controls-wrapper {
	display: flex;
	gap: 2rem;
}

.control input {
	margin: 0 2px 0 0;
	vertical-align: middle;
}

.control label {
	font-weight: normal;
	font-size: 1.2rem;
}

.animate-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 1.2rem;
	margin-top: 5rem;
}

.animate-switch label,
.animate-switch input {
	margin: 0;
	font-weight: normal;
	cursor: pointer;
}

.spin-wrapper.spin svg {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
